@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

$color1: #4b5d68;
$color2: #212353;
$color3: #9c69e2;
$color4: #F063B8;
$color5: #69c9ba;


h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 88px;
  color: $color2;
}
h2 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  font-family: Helvetica;
  color: rgba(33,35,83,1);
}
h4 {
  color: $color2;
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
}
h5 {
  font-size: 18px;
  line-height: 160%;
  font-weight: 800;
}
body {
  font-size: 1rem;
  line-height: 160%;
  font-style: normal;
  font-family: Montserrat;
  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
img {
  display: block;
  max-width: 100%;
}
.page__wrapper {
  padding: 0 50px;
}
.medium__text {
  font-size: 18px;
  line-height: 160%;
  font-weight: 500;
  color: $color2;
}
.small__text {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: $color3;
}
.page__line {
  border-bottom: 2px solid rgba(156, 105, 226, 0.2);
}
.section {
  min-height: 800px;
  &__hero {
    background: url('/img/hero__image.png');
    background-size: 885px;
    height: 468px;
    background-repeat: no-repeat;
    background-position-x: 40rem;
    background-position-y: 20rem;
  }
  &__info {
    display: flex;
    justify-content: center;
  }
  &__testimonials {
    padding-bottom: 150px;
  }
}
.container {
  padding: 100px 0;
  width: min(90%, 70.5rem);
  &-1200 {
    padding: 100px 0;
    max-width: 1200px;
    margin: 0 auto;
  }
  &-1400 {
    padding: 100px 0;
    max-width: 1400px;
    margin: 0 auto;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 60px;
  border: 1px solid black;
  border-radius: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.005em;
  background-color: $color3;
  border: none;
  color: white;
  &__white {
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    background-color: #ffffff;
    color: $color2;
    border: 1px solid #ffffff;
  }
  &__pink {
    background: $color4;
    margin-right: 30px;
  }
  &__arrow {
    padding-left: 20px;
  }
}
.logo {
  margin-right: 120px;
}

.nav {
  background: white;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__link {
    padding-right: 40px;
    font-weight: 500;
    color: $color2;
    text-decoration: none;
  }
  &__menu {
    display: flex;
  }
}
.hero{
  &__content {
    width: 50%;
  }
  &__text {
    width: 70%;
  }
}

.info {
  &__container {
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    padding: 40px 0;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  &__col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 90px;
  }
}

.features {
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    &__content {
      width: 46%;
      text-align: center; 
    }
  }
  &__img {
    position: absolute;
    left: -23%; 
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 50px;
    justify-items: center;
    &__content {
      position: relative;
      background: rgb(104, 201, 186, 0.1);
      padding: 50px 50px 50px 130px;
      width: 50%;
      border-radius: 50px;
    }
    &__content:before {
      content:"";
      position: absolute;
      top:0;
      left:0;
      width: 0; 
      height: 0; 
      border-top: 475px solid white; 
      border-right: 100px solid transparent;
    }
  }
  &__link {
    text-decoration: none;
    color: $color2;
    font-weight: 700;
    letter-spacing: 0.005em;
    margin-top: 20px;
  }
}
.bg-2 {
  background: rgb(156, 105, 226, .1);
}
.bg-3 {
  background: rgb(240, 99, 184, .1);
}
.bg-4 {
  background: rgb(45, 156, 219, .1);
}
.testimonials {
  &__container {
    background: $color3;
    border-radius: 50px;
    padding: 100px 0 100px 100px;
    position: relative;
  }
  &__header {
    color: white;
    margin-bottom: 88px;
  }
  &__card__container {
    display: flex;
  }
  &__card {
    color: $color1;
    background: white;
    display: flex;
    align-items: flex-start;
    border-radius: 20px;
    padding: 60px;
    width: 63%;
    margin-left: 20px;
    box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
    &-2 {
      padding: 60px 0 30px 60px;
      width: 44%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background: linear-gradient(270deg, rgba(156,105,226,1) 0%, rgba(255,255,255,100) 100%);
      overflow: hidden;
    }
  }
  &__img {
    padding-right: 30px;
  }
  &__ellipse {
    padding-left: 10px;
    &__container {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 40px;
      align-items: center;
    }  
  }
  &__arrow {
    padding-left: 10px;
    &__container {
      position: absolute;
      bottom: 40px;
      align-items: center;
      right: 58px;
      display: flex;
    }
  }
}
.footer {
  color: $color2;
  &__top__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__button__container {
    display: flex;
  }
  &__logo {
    margin-right: 20px;
    &__container {
      display: flex;
      margin-bottom: 60px;
    }
  }
  &__contact__location {
    font-weight: 500;
  }
  &__bottom__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 150px;
  }
  &__nav__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  &__link {
    margin-bottom: 20px;
  }
  &__social {
    display: flex;
  }
  &__social__icon {
    margin-right: 14px;
  }
}

.opacity-50 {
  opacity: 50%;
}
.text__bold {
  font-weight: bold;
  line-height: 0;
}
// margins
.margin__bottom {
  &-1 {
    margin-bottom: 8px
  }
  &-2 {
    margin-bottom: 16px
  }
  &-3 {
    margin-bottom: 24px
  }
  &-4 {
    margin-bottom: 32px
  }
  &-5 {
    margin-bottom: 40px
  }
  &-6 {
    margin-bottom: 48px
  }
  &-7 {
    margin-bottom: 56px
  }
  &-8 {
    margin-bottom: 64px
    }
  }

@media (max-width: 768px) {
  h1 {
    font-size: 60px;
    line-height: 60px;
  }
  h2 {
    font-size: 30px;
    line-height: 42px;
  }
  .section {
    min-height: 550px;
  }
  .page__wrapper {
    padding: 0 10px;
  }
  .container-1200 {
    padding: 10px 0;
  }
  .container-1400 {
    padding: 10px 0;
  }
  .hero {
    &__content {
      width: 100%;
    }
    &__text {
      width: 100%;
    }
  }
  .section__hero {
    background-position-x: 0;
    background-position-y: 25rem;
  }
  .info {
   &__col-1 {
    display: none;
   }
   &__col-2 {
     padding: 0;
   }
   &__grid {
     grid-template-columns: 1fr;
     padding: 30px;
   }
  }
  .features {
    &__header__content {
      width: 100%;
    }
    &__grid {
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }
  }
  .section__testimonials {
    padding-bottom: 30px;
  }
  .testimonials {
    &__container {
      padding: 10px;
    }
    &__card {
      width: 100%;
      padding: 15px;
      display: block;
      margin: 0;
      &__container {
        display: block;
      }
    }
    &__card-2 {
      display: none;
    }
  }
}